<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase navbar-shrink" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" style="font-family: fantasy" href="#page-top"> T C</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    Menu
    <i class="fas fa-bars"></i>
  </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Services</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#more-features">Features</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#team">Team</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class=" bg-info text-black text-center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto" style="height:40%; width: 40%;" src="../assets/images/logo.png" alt="myLogo">
        <h1 class="text-uppercase mb-0">Tech Support For Business & Home </h1>
        <hr class="star-dark">
        <br>
        <!-- <h3 class="font-weight-light mb-0">Web Developer - Graphic Artist - User Experience Designer</h3> -->
    </div>
</header>

<!-- Portfolio Grid Section -->
<section class="portfolio" id="portfolio">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Services</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                            <!-- <i class="fas fa-search-plus fa-3x"></i> -->
                            <i>Audio Door Phone Installation</i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../assets/images/doorAudioCall.png" alt="audioDoorCall">
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                            <!-- <i class="fas fa-search-plus fa-3x"></i> -->
                            <i>CCTV Installation</i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../assets/images/cctv.png" alt="cctv">
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-3">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                            <!-- <i class="fas fa-search-plus fa-3x"></i> -->
                            <i>Door Security Installation</i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../assets/images/doorSecurity.png" alt="door security">
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-4">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                            <!-- <i class="fas fa-search-plus fa-3x"></i> -->
                            <i>Access Control Installation</i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../assets/images/accessControl.png" alt="accessControl">
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-5">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                            <!-- <i class="fas fa-search-plus fa-3x"></i> -->
                            <i>Video Conferance Installation</i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../assets/images/conferanceMeeting.png" alt="">
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-6">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                            <!-- <i class="fas fa-search-plus fa-3x"></i> -->
                            <i>All Security Installation</i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../assets/images/allSecurity.png" alt="">
                </a>
            </div>
        </div>
    </div>
</section>


<!--==========================
      Call To Action Section
    ============================-->
<section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 text-center text-lg-left">
                <h3 class="cta-title">Web Designing & Development </h3>
                <p class="cta-text"> TechCare's one step solution also provides Web Designing and Development. We are Ten plus individuals solely focused on providing our customers with innovative designings and web services </p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
                <a class="btn btn-dark btn-xl align-middle" href="#website">Know More</a>
            </div>
        </div>

    </div>
</section>
<!-- #call-to-action -->



<!-- About Section -->
<section class="bg-primary text-white mb-0" id="about">
    <br>
    <br>
    <div class="container">
        <h2 class="text-center text-uppercase text-white">About</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead"> <span style="color:rgb(22, 66, 161);">Tech Care</span>, located in Dombivali, is your one-stop-shop for all computer requirements. We supply high quality, cost effective IT support for SMEs and home users.Whether you are looking to purchase
                    a computer or have a problem with your network, <span style="color:rgb(22, 66, 161);">Tech Care</span> Solutions and its friendly, approachable and highly professional team is available to help.</p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">‘<span style="color:rgb(22, 66, 161);">Tech Care</span>’s incredibly high standards, attention to detail and unwavering ability to always get the job done, offers extremely good value for money and, most of all, peace of mind. For quality,
                    integrity, reliability would highly recommend us every time.’</p>
            </div>
        </div>
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="../assets/images/Pamphlet.pdf" download>
                <i class="fas fa-download mr-2"></i> More Info!
            </a>
        </div>
    </div>
</section>
<!--==========================
      More Features Section
    ============================-->
<section id="more-features" class="section-bg">
    <br>
    <br>
    <div class="container">

        <div class="section-header">
            <h3 class="text-center text-uppercase text-black">Featured Services</h3>
            <hr class="star-dark mb-5">
            <h2 class="lead" style="text-align: center;"> These are the wide range of services provided by Tech Care </h2>
        </div>

        <div class="row">

            <div class="col-lg-6">
                <div class="box wow fadeInLeft">
                    <div class="icon"><img style="height:30%; width:30%;display: block;
                            margin-left: auto;
                            margin-right: auto " src="../assets/images/computerDesktop.png"></div>
                    <h4 class="title"><a href="">Assembling of Computers</a></h4>
                    <p class="description">We provide variety of computers with latest technical features and option of customization and Repairing of desktop and laptops.
                    </p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="box wow fadeInRight">
                    <div class="icon"><img style="height:30%; width:30%;display: block;
                                margin-left: auto;
                                margin-right: auto " src="../assets/images/HDD -2.png"></div>
                    <h4 class="title"><a href="">Computer AMC and Data Recovery</a></h4>
                    <p class="description">We provide annual maintainance of computers in affordable options.
                    </p>
                    <br>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="box wow fadeInLeft">
                    <div class="icon"><img style="height:60%; width:60%;display: block;
                                    margin-left: auto;
                                    margin-right: auto " src="../assets/images/optimize_installations.png"></div>
                    <h4 class="title"><a href="">Installation of Hardware and Software</a></h4>
                    <p class="description">We Supply genuine hardwares and softwares as per orders </p>
                    <br>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="box wow fadeInRight">
                    <div class="icon"><img style="height:30%; width:30%;display: block;
                                        margin-left: auto;
                                        margin-right: auto " src="../assets/images/network-infrastructure.png"></div>
                    <h4 class="title"><a href="">Complete Networking Solutions</a></h4>
                    <p class="description">We can design, install, maintain and repair networks. Networking your company’s systems i.e. computers, printers, databases etc. We will help you save time and money. click here.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="box wow fadeInLeft">
                    <div class="icon"><img style="height:50%; width:50%;display: block;
                                            margin-left: auto;
                                            margin-right: auto " src="../assets/images/info_sec.png"></div>
                    <h4 class="title"><a href="">Complete It & Security Solutions</a></h4>
                    <p class="description">We provide Streamlining costs and maintaining privacy by keeping computers and users safe from hacks, malware and websites they shouldn’t access.
                    </p>
                    <br>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="box wow fadeInRight">
                    <div class="icon"><img style="height:30%; width:30%;display: block;
                                margin-left: auto;
                                margin-right: auto " src="../assets/images/accessControl.png"></div>
                    <h4 class="title"><a href="">Attendance and Access Control System  </a></h4>
                    <p class="description">Access Control Systems provided on open flexible technology for real-time monitoring. Our range of Access Control Systems include the time-attendance, a standalone access controller, Card Access Control Systems, door access control
                        systems etc.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- #more-features -->
<!--==========================
     Website  Section
    ============================-->
<section id="website" style="background-color: rgb(198, 217, 236);">
    <div class="container">

        <div class="row">

            <div class="col-lg-8 offset-lg-4">
                <div class="section-header wow fadeIn" data-wow-duration="1s">
                    <h2 class="text-center text-uppercase text-blue">Web Designing</h2>
                    <hr class="star-dark mb-5">

                </div>
            </div>

            <div class="col-lg-4 col-md-5 features-img">
                <img src="../assets/images/coding.png" style="height:90%; width:100%" alt="pcImage" class="wow fadeInLeft">
            </div>

            <div class="col-lg-8 col-md-7 ">

                <div class="row">
                    <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.3s">
                        <div class="icon"><img src="../assets/images/code.png " style="height: 50px; width:50px;"></div>
                        <h4 class="title">Web Designing</h4>
                        <p class="description">
                            Your Website is your sales manager for 24X7. Our developer offers comprehensive yet responsive websites to fulfill all your desires. You will get more than just nice looking website for sure.</p>
                    </div>
                    <div class="col-lg-6 col-md-6 box wow fadeInRight">
                        <div class="icon"><i class="ion-social-html5" style="font-size: 50px"></i></div>
                        <h4 class="title">HTML</h4>
                        <p class="description">We use powerful tools of HTML. HTML 5 is a markup language used for structuring and presenting content on the World Wide Web. </p>
                    </div>
                    <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.1s">
                        <div class="icon"><i class="icon ion-social-css3" style="font-size: 50px"></i>
                        </div>
                        <h4 class="title"> CSS</h4>
                        <p class="description">We use CSS along with Bootstrap. Cascading Style Sheets is a style sheet language used for describing the presentation of a document written in a markup language like HTML. </p>
                    </div>
                    <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.2s">
                        <div class="icon"><i class="icon ion-social-angular" style=" font-size: 50px"></i></div>
                        <h4 class="title">ANGULAR</h4>
                        <p class="description"> We use latest powerful angular tools for creating best web applications. </p>
                    </div>

                </div>

            </div>

        </div>

    </div>

</section>
<!-- #features -->
<!--==========================
      Product Advanced Featuress Section
    ============================-->
<section id="advanced-features">

    <div class="features-row section-bg">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-0">What DO WE DO ?</h2>
            <hr class="star-dark mb-5">
            <div class="row">


                <div class="col-12">
                    <img class="advanced-feature-img-right wow fadeInRight" src="../assets/images/advanced-feature-2.jpg" alt="">
                    <div class="wow fadeInLeft">
                        <h2>Web Development</h2>
                        <p class="wow fadeInRight" data-wow-duration="0.5s">Our developers have great experience in developing web applications. We are also experts in many verticals and business domains, including e-Commerce, e-Learning, Finance, Entertainment, and more.</p>
                        <i class="ion-android-checkbox wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="0.5s"></i>
                        <p class="wow fadeInRight" data-wow-delay="0.4s" data-wow-duration="0.5s">Wheather you are a startup or established business, we are ready to provide you consulting from scratch to the final stage of development and support</p>
                        <i class="ion-android-checkbox wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="0.5s"></i>
                        <p class="wow fadeInRight" data-wow-delay="0.4s" data-wow-duration="0.5s">We develop powerfull and responsive sites which will ease the business problems, attract customers and reinforce your brand. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="features-row">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img class="advanced-feature-img-left" src="../assets/images/gallery-4.jpg" alt="">
                    <div class="wow fadeInRight">
                        <h2>Marketing for websites and web applications</h2>
                        <i class="ion-android-arrow-dropdown" class="wow fadeInRight" data-wow-duration="0.5s"></i>
                        <p class="wow fadeInRight" data-wow-duration="0.5s">
                            With the explosion of websites on web, how to make sure your customer finds you ? We believe, its not enough just to be on web, customer should be able to find you as well.
                        </p>

                        <i class="ion-android-checkbox wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="0.5s"></i>
                        <p class="wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="0.5s">
                            Its important that you website should draw customers too. We will help you get famouse on digital platforms.
                        </p>
                        <i class="ion-android-checkbox wow fadeInRight" data-wow-delay="0.4" data-wow-duration="0.5s"></i>
                        <p class="wow fadeInRight" data-wow-delay="0.4s" data-wow-duration="0.5s">
                            We do not believe in stuffing the website with an eye-catching design. But, we offer clear design and navigation that seem compelling enough for visitors to stay on the page.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="features-row section-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img class="advanced-feature-img-right wow fadeInRight" src="../assets/images/planning_50.jpg" style=" width:auto; height: auto; max-width: 100%;" alt="planning">
                    <div class="wow fadeInLeft">
                        <h2> How We Cater Our Services
                        </h2>
                        <p class="wow fadeInRight" data-wow-duration="0.5s"> We completely understand your business category and create a website which conveys all your business requirements as well as lets you stand apart from the crowd.</p>
                        <i class="ion-android-checkbox wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="0.5s"></i>
                        <p class="wow fadeInRight" data-wow-delay="0.4s" data-wow-duration="0.5s"> We design such sites which will fulfill your dream of having a unique brand recognition and identity over th web. </p>
                        <i class="ion-android-checkbox wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="0.5s"></i>
                        <p class="wow fadeInRight" data-wow-delay="0.4s" data-wow-duration="0.5s">Knowing that website designing and development is a set of services. we accoplish these requirements using static and dynamic websites. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #advanced-features -->


<!-- Contact Section -->
<section class="bg-info text-white mb-0" id="contact">
    <br>
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Contact Us</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <!-- (ngSubmit)="onSubmit()" -->
                <form [formGroup]="registerForm" class="gform" method="POST" action="https://script.google.com/macros/s/AKfycbwGLcdE1tfSDA77wfG37XCO-Fr46NFm-t_dpcdsLw/exec" name="sentMessage" id="contactForm" novalidate="novalidate">


                    <div class="form-group">
                        <label> Name</label>
                        <input placeholder="Enter Your Name" type="text" formControlName="firstName" name="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" placeholder="Enter Your Email" formControlName="email" name="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Number</label>
                        <input type="text" placeholder="Enter Your Phone Number" formControlName="number" name="number" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.number.errors }" />
                        <div *ngIf="submitted && f.number.errors" class="invalid-feedback">
                            <div *ngIf="f.number.errors.required">Number is required</div>
                            <div *ngIf="f.number.errors.number"> must be a valid phone number</div>
                        </div>
                    </div>
                    <div class="form-group">

                        <label>Message</label>
                        <textarea class="form-control" id="message" rows="5" name="message" placeholder="Message" required="required" data-validation-required-message="Please enter a message."></textarea>
                        <p class="help-block text-danger"></p>

                    </div>
                    <!-- 
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">

                            <label>Name</label>
                            <input class="form-control" formControlName="firstName" type="text" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" name="name" placeholder="Name" required="required">
                            <div *ngIf="f.firstName.errors.required">
                                <p class="help-block text-danger"> Name is required</p>
                            </div>

                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Email Address</label>
                            <input class="form-control" id="email" type="email" name="email" placeholder="Email Address" required="required" data-validation-required-message="Please enter your email address.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Phone Number</label>
                            <input class="form-control" id="phone" type="tel" name="number" placeholder="Phone Number" required="required" data-validation-required-message="Please enter your phone number.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    
                    <br> -->

                    <div class="form-group">
                        <!-- <button type="submit" class="btn btn-primary btn-xl" data-toggle="modal" data-target="#bootstrapModel">Send</button> -->
                        <button type="submit" class="btn btn-primary btn-xl" (click)="onSubmit()"> Send</button>
                    </div>

                </form>
            </div>
        </div>

        <!-- Modal section Thank YOU -->
        <div class="backdrop" [ngStyle]="{'display':display}"></div>

        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">


            <div class="modal-dialog" role="document">


                <div class="modal-content">
                    <div class="modal-body">

                        <h2 class="text-center text-uppercase text-secondary mb-0">Thank You!!</h2>
                        <hr class="star-dark mb-5">
                        <h2 class="lead" style="text-align: center; color: black;"> We will be contacting you soon </h2>

                    </div>


                    <div class="modal-footer">


                        <button type="button" class="btn btn-info" (click)="onCloseHandled()">Close</button>


                    </div>


                </div>
                <!-- /.modal-content -->


            </div>
            <!-- /.modal-dialog -->


        </div>
        <!-- /.modal !-->


        <!-- MOdel Section ends  -->


    </div>

</section>
<!--==========================
      Our Team Section
    ============================-->
<section id="team" class="text-white mb-0" style="background-color: rgb(31, 72, 160);">
    <div class="container">
        <div class="section-header">
            <br>
            <br>
            <h2 class="text-center text-uppercase text-white"> Meet Our Team</h2>
            <hr class="star-dark mb-5">
            <p class="lead" style="text-align: center">A PERFECT BLEND OF CREATIVITY AND TECHNICAL WIZARDRY </p>
        </div>
        <div class="row wow fadeInUp" style="margin:0 auto">
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="../assets/images/manishAggraval.jpg" alt="myTeamManish"></div>
                    <h4>Manish Aggrawal</h4>
                    <span>Proprietor</span>
                    <div class="social">
                        <a href="tel:7678456094"><i class="ion-ios-telephone"></i></a> &nbsp;
                        <a target="_blank" href="https://www.instagram.com/manish3044/"><i class="ion-social-instagram"></i></a> &nbsp;
                        <a target="_blank" href="https://www.facebook.com/manish.agarwal.790256"><i class="ion-social-facebook"></i></a> &nbsp;
                        <a href="mailto:manishagarwal725@gmail.com"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="../assets/images/sagarGurao.png" alt="myTeamSagar"></div>
                    <h4>Sagar Gurao</h4>
                    <span>Software Developer</span>
                    <div class="social">
                        <a href="tel:9545193501"><i class="ion-ios-telephone"></i></a> &nbsp;
                        <a target="_blank" href="https://www.instagram.com/saagargurao/"><i class="ion-social-instagram"></i></a> &nbsp;
                        <a target="_blank" href="https://www.facebook.com/sagar.gurao.5"><i class="ion-social-facebook"></i></a> &nbsp;
                        <a href="mailto:sagargurao92@gmail.com?&subject=Enquiry&body=I would like to know about your services "><i class="fa fa-envelope"></i></a>
                        <!-- <a href=""><i class="fa fa-facebook-official"></i></a>
                        <a href=""><i class="fa fa-instagram"></i></a>
                        <a href=""><i class="fa fa-envelope"></i></a> -->

                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="../assets/images/gauravHelonde.png" alt="myTeamGaurav"></div>
                    <h4>Gaurav Helonde</h4>
                    <span>Technical Specialist</span>
                    <div class="social">
                        <a href="tel:7768089983"><i class="ion-ios-telephone"></i></a> &nbsp;
                        <a target="_blank" href="https://www.instagram.com/t.h.e_p.r.i.d.e/"><i class="ion-social-instagram"></i></a> &nbsp;
                        <a target="_blank" href="https://www.facebook.com/gaurav.helonde"><i class="ion-social-facebook"></i></a> &nbsp;


                        <a href="mailto:gauravhelonde1994@gmail.com"><i class="fa fa-envelope"></i></a>
                        <!-- <a href=""><i class="fa fa-facebook-official"></i></a>
                        <a href=""><i class="fa fa-instagram"></i></a>
                        <a href=""><i class="fa fa-envelope"></i></a> -->

                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="pic">
                    <div id="menuBall4" class="menuBall">
                        <a href="#contact" class="ball redball">
                            <div class="menuText">
                                Get In Touch
                            </div>
                        </a>
                    </div>

                </div>

            </div>
        </div>

    </div>
</section>
<!-- #team -->

<!-- Footer -->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Contact</h4>
                <p class="lead mb-0"><i class="fa fa-phone-square">  9769504266 | 7678456094 | 9545193501</i>
                    <br><i class="	fa fa-envelope"><a href="mailto:techcare725@gmail.com?subject=Enquiry">
                                  techcare725@gmail.com</a></i></p>
            </div>
            <div class="col-md-4 mb-5 mb-lg-0">
                <!-- <h4 class="text-uppercase mb-4">Around the Web</h4>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                <i class="fab fa-fw fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                <i class="fab fa-fw fa-google-plus-g"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                <i class="fab fa-fw fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                <i class="fab fa-fw fa-linkedin-in"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                <i class="fab fa-fw fa-dribbble"></i>
                            </a>
                        </li>
                    </ul> -->
            </div>
            <div class="col-md-4">
                <!-- <h4 class="text-uppercase mb-4">About Freelancer</h4> -->
                <p class="lead mb-0">This website is designed and maintained by <span style="color:lightblue">TECH-CARE </span> Solutions with a big thanks to Start Bootstrap.</p>
            </div>
        </div>
    </div>
</footer>

<div class="copyright py-4 text-center text-white">
    <div class="container">
        <small>Copyright &copy; TechCare Website 2018</small>
    </div>
</div>


<a href="#" class="back-to-top d-sm-none"><i class="fa fa-chevron-up"></i></a>